.save {
	background-image: url(../images/save.png) !important;
}

.application {
	background-image: url(../images/favicon.ico) !important;
}

.cancel {
	background-image: url(../images/cancel.png) !important;
}

.refresh {
	background-image: url(../images/refresh.gif) !important;
}
